form {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 740px;
    height: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: white;

    #f_i__top{
        margin-top: 50px;
    }

    .form_input {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
        color: rgba(0, 0, 0, 0.843);

        border: none;
        outline: none;
        background: none;

        width: 70%;
        height: 30px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .form_input::placeholder {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
    }

    .form_btn {
        border: none;
        outline: none;
        background: none;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;

        font-family: Open Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 27.24px;
        letter-spacing: 0.45em;
        color: rgba(255, 172, 48, 1);
        text-transform: uppercase;
    }
}